<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154037024443-5d6dupql72pu00767el0k8qut9ioie3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154037024443-5d6dupql72pu00767el0k8qut9ioie3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBZyvy4tUREuND_8-1mt7uIhc-djgH-TKc</string>
	<key>GCM_SENDER_ID</key>
	<string>154037024443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tempStore</string>
	<key>PROJECT_ID</key>
	<string>equinox-db</string>
	<key>STORAGE_BUCKET</key>
	<string>equinox-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154037024443:ios:a6038c51163848b1fddb9e</string>
</dict>
</plist>